#!{{ ansible_python['executable'] }}

# Copyright (C) 2020-2021 CipherMail B.V. <https://www.ciphermail.com/>
# Copyright (C) 2020-2021 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-or-later

# {{ ansible_managed }}

import os
import subprocess

from json import dumps


def cmd_exists(cmd):
    return any(
        os.access(os.path.join(path, cmd), os.X_OK)
        for path in os.environ['PATH'].split(os.pathsep)
    )


output = {'installed': cmd_exists('restic')}
output['initialized'] = {{ True
                           if (ansible_local.restic.initialized|d(True)|bool or
                               restic__register_initialize.changed)
                           else False }}

if output['installed']:
    output['version'] = subprocess.check_output(
        ['restic', 'version'],
    ).decode('utf-8').split(' ')[1]

print(dumps(output, sort_keys=True, indent=4))
