{# Copyright (C) 2021 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

[Unit]
Description=Schedule Restic backups
Documentation=https://docs.debops.org/en/master/ansible/roles/restic/index.html

[Timer]
OnCalendar={{ restic__backup_oncalendar }}
RandomizedDelaySec={{ restic__backup_randomizeddelaysec }}

[Install]
WantedBy=timers.target
