{# Copyright (C) 2021 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

[Unit]
Description=Remove old Restic snapshots
Documentation=https://docs.debops.org/en/master/ansible/roles/restic/index.html
OnFailure={{ restic__onfailure }}

[Service]
Type=oneshot
User={{ restic__user }}
Group={{ restic__group }}
EnvironmentFile=/etc/restic/environment
ExecStart={{ "/usr/local/bin" if restic__upstream else "/usr/bin" }}/restic forget {{ restic__global_flags }} {{ restic__forget_flags }}
