{# Copyright (C) 2021 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

[Unit]
Description=Make a system backup with Restic
Documentation=https://docs.debops.org/en/master/ansible/roles/restic/index.html
OnFailure={{ restic__onfailure }}

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/environment
ExecStartPre=/etc/restic/pre-backup-script
ExecStart=/bin/su {{ restic__user }} -c '{{ "/usr/local/bin" if restic__upstream else "/usr/bin" }}/restic backup {{ restic__global_flags }} {{ restic__backup_flags }} {{ restic__path }}'
