{# Copyright (C) 2021 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

{%  for envvar in restic__combined_environment|dict2items %}
{{ envvar.key }}={{ envvar.value }}
{%  endfor %}
