{# Copyright (C) 2021 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

{% for exclude in restic__combined_exclude %}
{{ exclude }}
{% endfor %}
